@model SERCCS.Models.Views.PayCategoryMastViewModel

<style>
    .size {
        width: 180px;
        height: 25px;
        text-transform: uppercase;
    }

    .sizeS {
        width: 60px;
        height: 25px;
        text-transform: uppercase;
    }

    .sizebig {
        width: 400px;
        height: 25px;
        text-transform: uppercase;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #4335A7;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 280px;
            text-align: center;
            color: #133E87;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 5px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.4);
        }

        .tab th {
            padding: 7px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: #BC7C7C;
            font-size: 14px;
            color: #492929;
            position: sticky;
            top: 0;
            border: 1px solid #ddd;
        }

    input:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }

    input {
        background-color: rgba( 255, 182, 193, 0.4);
        color: #4335A7;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px
    }

    select {
        background-color: rgba( 255, 182, 193, 0.4);
        color: crimson;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px
    }

        select:focus {
            background-color: rgba( 255, 182, 193, 0.3);
        }

    input[readonly] {
        background-color: whitesmoke;
        color: gray;
    }

    .divbox {
        background-color: #eaeef3;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold
    }
</style>
<form asp-controller="Master" asp-action="PayCategoryMaster" method="post">

    <div class="heading mt-4">
        Pay Category Master
    </div>
    <div class="container mt-1" cellpadding="0" cellspacing="0" border="1">
        <div class="row mt-3 justify-content-md-center">
            <div class="col-md-12 col-lg-12 col-12 pl-5 divbox">
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 col-12">
                        Code:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        @Html.TextBoxFor(p => p.code, new { @class = "size", @onkeypress = "javascript: return evt_customerId(event);" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        Description:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        @Html.TextBoxFor(p => p.description)
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <input id="btnsave" type="button" name="btnsave" Height="40" Width="100" class="btn btn-primary btn-sm pull-right" value="SAVE" onclick="SaveDetails()" />
                  
                        <input id="btnUpdate" type="button" name="btnUpdate" Height="40" Width="100" class="btn btn-primary btn-sm pull-left" value="UPDATE" onclick="UpdateData()" />
                    </div>                  
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <input id="btnAddnew" type="button" name="btnAddnew" Height="40" Width="100" class="btn btn-primary btn-sm pull-left" value="Add New" onclick="AddNew()" />
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table POITable class="tab">
                        <tbody id="Paylist">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

          $(document).ready(function () {
              ShowTable();
              $('#btnUpdate').hide();
              $('#btnAddnew').hide();
          });

          function SaveDetails() {
          if ($('#code').val() == null || $('#code').val() == "") {
              alert("Code Cannot Be Blank!");
              $('#code').focus();
          }
          else if ($('#description').val() == null || $('#description').val() == "") {
              alert("Description Cannot Be Blank!");
              $('#description').focus();
          }
            else {
                    let ModelObject = {
                        code: $('#code').val(),
                        description: $('#description').val(),
                    };
                    $.ajax({
                        url: '@Url.Action("SaveAllDetails", "Master")',
                        type: "POST",
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            if (data == "Saved Successfully") {
                                alert(data);
                                $('#code').focus();
                                $('#code').val("");
                                $('#description').val("");
                                ShowTable();
                            }
                            else {
                                alert(data);
                            }
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }
                    });
               }
          }
        
          (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', run);
            }
            function run() {
                var t = document.getElementById('Paylist');
                t.onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    while (target && target.nodeName != 'TR') {
                        target = target.parentElement;
                    }
                    var cells = target.cells;
                    if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                        return;
                    }
                    var f1 = document.getElementById('code');
                    var f2 = document.getElementById('description');

                    f1.value = cells[0].innerHTML;
                    f2.value = cells[1].innerHTML;
                    document.getElementById('code').readOnly = true;
                    $('#btnUpdate').show();
                    $('#btnsave').hide();                   
                    $('#btnAddnew').show();
                };
            }
          })();

           function UpdateData() {                  
                let ModelObject = {
                   code: $('#code').val(),
                   description: $('#description').val(),
                };        
                $.ajax({
                    url: '@Url.Action("updateDetailsForPayCategory", "Master")', // Controller method URL
                    type: "POST",
                    data: ModelObject, // Send ModelObject as data
                    dataType: "json", // Expecting JSON response
                    success: function (data) {                      
                        alert(data);                       
                        ShowTable();                                              
                        AddNew();
                    },
                    error: function (err) {                        
                        alert("Error Occurred: " + JSON.stringify(err));
                    }
                });
           }

           function ShowTable() {
                 let ModelObject = {
                     code: $('#code').val(),
                     description: $('#description').val(),
                 };
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("GetAllDetailsForPayCategory", "Master")',
                     data: ModelObject,
                     dataType: "json",
                     success: function (data)
                     {
                        document.getElementById("Paylist").innerHTML = data;
                     },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                 });
           }

           function AddNew() {
               $('#btnUpdate').hide();
               $('#btnsave').show();
               $('#btnAddnew').hide();
               document.getElementById('code').readOnly = false;
               $('#code').val("");
               $('#description').val("");
           }

    </script>
}
