@model SERCCS.Models.Views.ShareTypeMasterViewModel;
@{
    ViewData["Title"] = "ShareTypeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .heading {
        /*  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        color: #083669;
        font-size: 30px;
        text-align: center;
    }

    body {
        font-family: "Roboto", sans-serif;
    }

    .size {
        height: 30px;
        width: 180px;
    }

    .sizebig {
        height: 30px;
        width: 300px;
    }

    .divbox {
        background-color: #eaeef3;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }

        .tab tbody {
            display: block;
            width: 600px;
            overflow: auto;
            height: 250px;
            text-align: center;
            color: #133E87;
        }

        .tab td, .tab th {
            border: 1px solid #004085;
            border-collapse: collapse;
            width: 600px;
        }

        .tab td {
            padding: 3px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:nth-child(odd) {
            background-color: white;
        }

        .tab tr:hover {
            background-color: #E1F7F5;
        }

        .tab th {
            padding: 5px;
            text-align: center;
            background-color: #0c2253;
            font-size: 13px;
            color: white;
            position: sticky;
            top: 0;
            border: 1px solid #ddd;
            /* border-radius: 5px*/
        }
</style>

<form asp-controller="Master" asp-action="ShareTypeMaster" method="post">
    <div class="heading mt-4">
        Share Type Master
    </div>

    <div class="container mt-1" cellpadding="0" cellspacing="0" border="1">
        <div class="row mt-3 justify-content-md-center">
            <div class="col-md-8 col-lg-8 col-12 pl-5 divbox">
                <div class="row">

                    <div class="col-md-4 col-sm-12 col-12 mt-3">
                        Code:
                    </div>
                    <div class="col-md-8 col-sm-12 col-12 mt-3">
                        @Html.TextBoxFor(p => p.code, new { @class = "size", maxlength = "3" })
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-4 col-sm-12 col-12 mt-3">
                        Description:
                    </div>
                    <div class="col-md-8 col-sm-12 col-12 mt-3">
                        @Html.TextBoxFor(p => p.description, new { @class = "sizebig", maxlength = "100" })
                    </div>
                </div>
                <div class="row mt-4 mb-2 justify-content-lg-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <button id="btnSave" type="button" name="btnSave" Height="40" Width="100" class="btn btn-sm" onclick="SaveData()">
                            Save | <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                        <button id="btnupdate" type="button" name="btnupdate" Height="40" Width="100" class="btn btn-sm" onclick="UpdateData()">
                            Update | <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                        <button id="btnAddnew" type="button" name="btnAddnew" Height="40" Width="100" class="btn btn-sm" onclick="AddNew()">
                            Add New | <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <div class="table-responsive mt-1">
                    <table id="list" class="tab">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="height:50px"></div>
</form>

@section scripts
{
    <script src="~/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            showTable();
            $('#btnupdate').hide();
            $('#btnAddnew').hide();
        });

        function SaveData() {
            if ($('#code').val() == null || $('#code').val() == "") {
                alert("Code cannot Be Blanked");
                $('#code').focus();
            }
            else if ($('#description').val() == null || $('#description').val() == "") {
                alert("Description Cannot be Blank");
                $('#description').focus();
            }
            else {
                        let ModelObject = {
                        code: $('#code').val(),
                        description: $('#description').val(),
                    };
                    /*alert(JSON.stringify(ModelObject));*/
                    $.ajax({
                        url: '@Url.Action("savedata", "Master")',
                        type: "POST",
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            showTable();
                            $('#code').val("");
                            $('#description').val("");
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }
                    });
                 }
        }

        function UpdateData() {
            if ($('#code').val() == null || $('#code').val() == "") {
                alert("Code cannot Be Blanked");
                $('#code').focus();
            }
            else if ($('#description').val() == null || $('#description').val() == "") {
                alert("Description Cannot be Blank");
                $('#description').focus();
            }
            else {
                     let ModelObject = {
                        code: $('#code').val(),
                        description: $('#description').val(),
                     };
                     $.ajax({
                        url: '@Url.Action("updatedata", "Master")',
                        type: "POST",
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            showTable();                            
                            AddNew();
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }
                     });
                 }
        }

        function showTable() {
            let ModelObject = {
                code: $('#code').val()
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllDetails", "Master")',
                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    document.getElementById("list").innerHTML = data;
                },
                error: function (err) {
                    //alert("Error Occured");
                }
            });
        }

        (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', run);
            }

            function run() {
                var t = document.getElementById('list');
                t.onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    while (target && target.nodeName != 'TR') {
                        target = target.parentElement;
                    }

                    var cells = target.cells;
                    if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                        return;
                    }
                    var f1 = document.getElementById('code');
                    var f2 = document.getElementById('description');

                    f1.value = cells[0].innerHTML;
                    f2.value = cells[1].innerHTML;
                    $('#btnupdate').show();
                    $('#btnAddnew').show();
                    $('#btnSave').hide();
                    document.getElementById('code').readOnly = true;
                };
            }
        })();

         function AddNew() {
            $('#btnupdate').hide();
            $('#btnSave').show();
            $('#btnAddnew').hide();
            document.getElementById('code').readOnly = false;
            $('#code').val("");
            $('#description').val("");
         }


    </script>
}


