@model SERCCS.Models.Views.AccountOpeningViewModel
@{
    Layout = "../Shared/_layout.cshtml";
    ViewBag.Title = "AccountOpening";
}

<style>
    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    body {
        /*font-weight:bold;*/
        color: darkslategrey;
    }

    .rounded-corners {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid green;
    }

    .rounded-corners1 {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid brown;
    }

    .rounded-corners2 {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid white;
    }

    .rounded-corners {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid green;
    }

    input {
        background-color: rgba( 173,216,230, 0.4);
        font-size: 14px;
        font-weight: bold
    }

    select {
        background-color: rgba( 173,216,230, 0.4);
        font-size: 14px;
        font-weight: bold
    }

    input:focus {
        background-color: rgba(249,98,159, 0.2);
    }

    select:focus {
        background-color: rgba( 173,216,230, 0.4);
    }

    .table-bordered {
        border: 2px solid white
    }

    .tableT {
        background-color: #ece9fb;
        text-align: center;
        font-size: 13px
    }

    .fixed_header {
        width: 1200px;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .fixed_header1 {
        width: 200px;
        table-layout: auto;
        border-collapse: collapse;
    }

        .fixed_header1 tbody {
            display: block;
            width: 100%;
            overflow: auto;
            height: 100px;
        }

    .fixed_header tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 300px;
    }

    .fixed_header1 thead tr {
        display: block;
    }

    .fixed_header thead tr {
        display: block;
    }

    .fixed_header thead {
        background: #00008B;
        color: #fff;
    }

    .fixed_header1 thead {
        background: #00008B;
        color: #fff;
        padding: 10px;
        width: 100px;
    }

    .fixed_header th,
    .fixed_header td {
        padding: 5px;
        text-align: left;
        width: 200px;
    }

    .fixed_header1 th,
    .fixed_header1 td {
        padding: 5px;
        text-align: left;
        width: 110px;
    }

    .small-size {
        width: 90px;
    }

    .small-size1 {
        width: 30px;
    }

    .big-size {
        width: 250px;
    }

    .tbl {
        margin: 0 auto;
    }

    .itemtab {
        font-family: Arial, Helvetica, sans-serif;
        /*font-size: 15px;*/
        border-collapse: collapse;
        width: 80%;
    }

        .itemtab tbody {
            display: block;
            width: 1120px;
            overflow: auto;
            height: 250px;
        }

        .itemtab td {
            border: 2px solid #ddd;
            padding: 8px;
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
            font-size: 12px
        }

        .itemtab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .itemtab tr:hover {
            background-color: #F7C1D3;
        }

        .itemtab th {
            border: 2px solid white;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 8px;
            padding-right: 8px;
            text-align: center;
            font-size: 15px;
            /*background-color: #04AA6D;*/
            background-color: #145f9f;
            color: white;
            position: sticky;
            top: 0;
        }

    .btn_size {
        width: 100px;
        height: 30px;
    }

    .sizeS {
        width: 60px;
        height: 30px
    }

    .sizeXS {
        width: 40px;
        height: 30px
    }

    .size {
        width: 180px;
        height: 30px
    }

    .sizeM {
        width: 90px;
        height: 30px
    }

    .sizeM1 {
        width: 110px;
        height: 30px
    }

    .sizeL {
        width: 190px;
        height: 30px;
        font-size: 12px
    }

    .sizebig {
        width: 220px;
        height: 30px;
        font-size: 13px
    }
</style>

<form asp-controller="Deposits" asp-action="AccountOpening" method="post">
    <div class="heading mt-2">
        Account Opening
    </div>
    <div class="container mt-3" style="font-weight:bold">
        <div class="row">
            <table class="rounded-corners1" style="background-color: #f2dfb7; color: brown; font-size: 15px">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input id="buttonsave" type="button" value="SAVE" name="ButtonSAVE" class="btn btn-primary" onclick="SaveData()" />
                                    <input id="buttonaddnew" type="button" value="ADD NEW" name="ButtonAddNew" class="btn btn-primary " onclick="Reload()" />
                                    <input id="ButtonEXIT" type="button" value="EXIT" name="ButtonEXIT" class="btn btn-primary " onclick="Home()" />

                                </td>
                            </tr>
                        </table>
                        <table style="margin-top:10px">
                            <tr>
                                <td>
                                    Branch<br />
                                    @*@Html.DropDownListFor(p => p.BranchId, new SelectList(new string[] { "MN" }), new { @class = "sizeS" })*@
                                    @Html.TextBoxFor(p => p.branchid, new { @class = "size", @type = "text" })

                                </td>
                                <td class="gap">
                                </td>
                                <td>
                                    Account Head<br />
                                    @Html.DropDownListFor(p => p.achd, new SelectList(Model.ac_hd_desc, "Value", "Text"), new { @class = "size" })
                                </td>
                                <td class="gap">
                                </td>
                                <td>
                                    Control No<br />
                                    @Html.TextBoxFor(p => p.contno, new { @class = "size", @type = "text", @onkeypress = "javascript: return EvtContNo(event); " })
                                </td>
                                <td class="gap">
                                </td>
                                <td>
                                    Account No<br />
                                    @Html.TextBoxFor(p => p.acno, new { @class = "size", @type = "text", @onkeypress = "javascript: return EvtAcNo(event); " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table align="center" class="mt-2 mb-2">
                <tr>
                    <td>
                        Opening Date<br />
                        @Html.TextBoxFor(p => p.opendate, new { @class = "size", @type = "text" })
                    </td>
                    <td>
                        Category of Account<br />
                        @Html.DropDownListFor(p => p.splstatus, new SelectList(Model.ac_category_desc, "Value", "Text"), new { @class = "size" })
                    </td>

                    <td>
                        Mode of Operation<br />
                        @Html.DropDownListFor(p => p.oprnmode, new SelectList(Model.md_of_op_desc, "Value", "Text"), new { @class = "size" })
                    </td>
                    <td>
                        Cheque Facility<br />
                        @Html.DropDownListFor(p => p.chqfacility, new SelectList(new string[] { "NO", "YES" }), new { @class = "sizeS" })
                    </td>
                </tr>
            </table>

            <br />
            <h6 class="text-center bg-danger p-1 mt-2" style="color:whitesmoke">MEMBER HOLDER'S PARTICULARS</h6>
            <table class="table table-bordered tableT" style="margin-top:-8px">
                <tr style="background-color: #145f9f; color: white;">
                    <th>Srl</th>
                    <th>Member Name</th>
                    <th>Guardian's Name'</th>
                    <th>Relation</th>
                    <th>Sex</th>
                    <th>Occupation</th>
                    <th>Sign</th>
                    <th>LTI</th>
                    <th>Pan No</th>

                </tr>
                <tr>

                    <td>@Html.TextBoxFor(p => p.srl1, new { @class = "sizeXS", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.membername1, new { @class = "sizeL", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.guardianname1, new { @class = "sizeL", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.relation1, new { @class = "sizeM", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.sex1, new { @class = "sizeM", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.occupation1, new { @class = "sizeS", @type = "text", @readonly = "true" })</td>
                    <td>@Html.DropDownListFor(p => p.sign1, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                    <td>@Html.DropDownListFor(p => p.lti1, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                    <td>@Html.TextBoxFor(p => p.panno1, new { @class = "sizeM", @type = "text", @readonly = "true" })</td>
                    <td id="addbutton"><img src="~/Images/Plus.png" width="30" height="30" onclick="OpenNewRowForMember()" /></td>

                </tr>
                <tr id="NewMem">
                    <td>@Html.TextBoxFor(p => p.srl2, new { @class = "sizeXS", @type = "text", @readonly = "true" })</td>
                    <td>@Html.TextBoxFor(p => p.membername2, new { @class = "sizeL", @type = "text" })</td>
                    <td>@Html.TextBoxFor(p => p.guardianname2, new { @class = "sizeL", @type = "text" })</td>
                    <td>@Html.TextBoxFor(p => p.relation2, new { @class = "sizeM", @type = "text" })</td>
                    <td>@Html.TextBoxFor(p => p.sex2, new { @class = "sizeM", @type = "text" })</td>
                    <td>@Html.TextBoxFor(p => p.occupation2, new { @class = "sizeS", @type = "text" })</td>
                    <td>@Html.DropDownListFor(p => p.sign2, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                    <td>@Html.DropDownListFor(p => p.lti2, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                    <td>@Html.TextBoxFor(p => p.panno2, new { @class = "sizeM", @type = "text" })</td>
                    <th><img src="~/Images/Minus.png" width="30" height="30" onclick="CloseNewRowForMember()" /></th>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <table class="rounded-corners2" style="background-color: rgb(216, 191, 216,0.6); color: rgb(119, 7, 55); font-weight: bold; font-size: 14px">
                            <tr>
                                <td>
                                    A/C Name
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.acname, new { @class = "sizebig", @type = "text", @readonly = "true" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.acadd1, new { @class = " sizebig", @type = "text", @readonly = "true" })<br />
                                    @Html.TextBoxFor(p => p.acadd2, new { @class = " sizebig", @type = "text", @readonly = "true" })<br />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    State
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.acstate, new { @class = "sizeM1", @type = "text", @readonly = "true" })
                                </td>
                                <td>
                                    District
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.acdist, new { @class = "sizeM1", @type = "text", @readonly = "true" })
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    City
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.accity, new { @class = "sizeM1", @type = "text", @readonly = "true" })
                                </td>
                                <td>
                                    Pin
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.acpin, new { @class = "sizeM1", @type = "text", @readonly = "true" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="rounded-corners">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>

                                                Minor Account:
                                                @Html.DropDownListFor(p => p.isminor, new SelectList(new string[] { "NO", "YES" }), new { @class = "sizeS", @onchange = "showhideminor()" })
                                            </td>
                                        <tr id="minor">

                                            <td>
                                                Date of Birth
                                                @Html.TextBoxFor(p => p.minordob, new { @class = "size", @type = "text" })
                                            </td>
                                            <td>
                                                Attain Majority On
                                                @Html.TextBoxFor(p => p.minoradultdt, new { @class = "size", @type = "text" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <h6 class="text-center p-1 mt-2" style="background-color: #A95C68; color: white; font-size: 15px; font-weight: bold; text-align: center; text-transform: uppercase; border: 1px solid; border-color: rgb(170, 152, 169); border-radius: 20px ">N o m i n e e</h6>
                        <table class="table tableT table-bordered" style="margin-top:-8px">
                            <tr style="background-color: #ffd5b9; color: darkslateblue; font-weight: bold; text-align: center; font-size: 14px">
                                <th>Nominee Name</th>
                                <th>Relation</th>
                                <th>Pan No</th>
                                <th>Aadhar No</th>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(p => p.nomname, new { @class = " sizeL", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nomreln, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nompan, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nomaadhar, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                            </tr>
                        </table>

            </table>




        </div>


    </div>

</form>
@section scripts
{

    <script type="text/javascript">


        function OpenNewRowForMember() {
            $("#NewMem").show();
            $("#addbutton").hide();
            $("#srl2").val("2");
        }

        function CloseNewRowForMember() {
            $("#NewMem").hide();
            $("#addbutton").show();
            $("#Srl2").val("");
        }

        function EvtContNo(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetDetailByContNo();
            }
        }
        function EvtAcNo(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
              if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetDetailByAcNo();
            }
        }

        function GetDetailByContNo() {
            let ModelObject = {
                achd: $('#achd').val(), contno: $('#contno').val(), branchid: $('#branchid').val()};
            $.ajax({
                type: "POST",
                    url: '@Url.Action("GetDetailByContNo", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    $('#acno').val(data.ac_no);
                    $('#contno').val(data.contno);
                    $('#memberid1').val(data.member_id);
                    $('#membername1').val(data.ac_name);
                    $('#guardianname1').val(data.grdn_name);
                    $('#relation1').val(data.reln_id);
                    $('#sex1').val(data.sex);
                    $('#occupation1').val(data.occup_id);
                    $('#sign1').val(data.sign);
                    $('#lti1').val(data.lti);
                    $('#panno1').val(data.pan);
                    $('#acname').val(data.ac_name);
                    $('#acadd1').val(data.ac_add1);
                    $('#acadd2').val(data.ac_add2);
                    $('#accity').val(data.ac_city);
                    $('#acdist').val(data.ac_dist);
                    $('#acstate').val(data.ac_state);
                    $('#acpin').val(data.ac_pin);
                    $('#nomname').val(data.nom_name);
                    $('#nomreln').val(data.nom_reln);
                    $('#nompan').val(data.nom_pan);
                    $('#nomaadhar').val(data.nom_aadhar);
                    $('#minordob').val(data.str_minor_dob);
                    $('#minoradultdt').val(data.str_minor_adult_dt);
                    if (data.ac_no != null) {
                        $('#splstatus').val(data.spl_status);
                        $('#oprnmode').val(data.oprn_mode);
                        $('#chqfacility').val(data.chq_facility);
                    }
                    if (data.is_minor != "" && data.is_minor != null) {
                        $("#isminor").val("YES")
                        $("#minor").show();
                    }
                    $('#acno').focus();
                    if (data.ac_no != "" && data.ac_no != null) {
                        $('#opendate').val(data.str_open_date);
                        $("#buttonsave").hide();
                        $('#contno').focus();
                        document.getElementById('acno').readOnly = true;
                        document.getElementById('opendate').readOnly = true;
                    }
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }

        function GetDetailByAcNo() {
            let ModelObject = {
                achd: $('#achd').val(), acno: $('#acno').val(), branchid: $('#branchid').val()};
            $.ajax({
                type: "POST",
                    url: '@Url.Action("GetDetailByAcNo", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {

                    $('#acno').val(data.ac_no);
                    $('#contno').val(data.contno);
                    $('#memberid1').val(data.member_id);
                    $('#membername1').val(data.ac_name);
                    $('#guardianname1').val(data.grdn_name);
                    $('#relation1').val(data.reln_id);
                    $('#sex1').val(data.sex);
                    $('#occupation1').val(data.occup_id);
                    $('#sign1').val(data.sign);
                    $('#lti1').val(data.lti);
                    $('#panno1').val(data.pan);
                    $('#acname').val(data.ac_name);
                    $('#acadd1').val(data.ac_add1);
                    $('#acadd2').val(data.ac_add2);
                    $('#accity').val(data.ac_city);
                    $('#acdist').val(data.ac_dist);
                    $('#acstate').val(data.ac_state);
                    $('#acpin').val(data.ac_pin);
                    $('#nomname').val(data.nom_name);
                    $('#nomreln').val(data.nom_reln);
                    $('#nompan').val(data.nom_pan);
                    $('#nomaadhar').val(data.nom_aadhar);
                    $('#minordob').val(data.str_minor_dob);
                    $('#minoradultdt').val(data.str_minor_adult_dt);
                    $('#splstatus').val(data.spl_status);
                    $('#oprnmode').val(data.oprn_mode);
                    $('#chqfacility').val(data.chq_facility);
                    if (data.is_minor != "" && data.is_minor != null) {
                        $("#isminor").val("YES")
                        $("#minor").show();
                    }
                    if (data.ac_no != "" && data.ac_no != null) {
                        document.getElementById('acno').readOnly = true;
                        $('#opendate').val(data.str_open_date);
                        document.getElementById('opendate').readOnly = true;
                        $("#buttonsave").hide();
                    }
                },
                error: function (err) {
                alert("Error Occured");
                }

            });
        }


        $(document).ready(function () {
            $("#minor").hide();
            $("#NewMem").hide();
            $("#srl1").val("1");

        });


        function showhideminor() {

            if ($("#isminor option:Selected").text() == "YES") {
                $("#minor").show();
            }
            else {
                $("#minor").hide();
            }
        }
        function SaveData() {
            if ($('#acno').val() == "" || $('#acno').val() == null) {
                alert("Account No Can't Blank !!");
            } else {
                let ModelObject = {
                    branchid: $('#branchid').val(),
                    achd: $('#achd').val(),
                    acno: $('#acno').val(),
                    contno: $('#contno').val(),
                    opendate: $('#opendate').val(),
                    splstatus: $('#splstatus').val(),
                    oprnmode: $('#oprnmode').val(),
                    chqfacility: $('#chqfacility').val(),
                    srl1: $('#srl1').val(),
                    srl2: $('#srl2').val(),
                    memberid1: $('#memberid1').val(),
                    memberid2: $('#memberid2').val(),
                    membername1: $('#membername1').val(),
                    membername2: $('#membername2').val(),
                    guardianname1: $('#guardianname1').val(),
                    guardianname2: $('#guardianname2').val(),
                    relation1: $('#relation1').val(),
                    relation2: $('#relation2').val(),
                    sex1: $('#sex1').val(),
                    sex1: $('#sex1').val(),
                    occupation1: $('#occupation1').val(),
                    occupation2: $('#occupation2').val(),
                    sign1: $('#sign1').val(),
                    sign2: $('#sign2').val(),
                    lti1: $('#lti1').val(),
                    lti1: $('#lti1').val(),
                    panno1: $('#panno1').val(),
                    panno2: $('#panno2').val(),
                    acname: $('#acname').val(),
                    acadd1: $('#acadd1').val(),
                    acadd2: $('#acadd2').val(),
                    accity: $('#accity').val(),
                    acdist: $('#acdist').val(),
                    acstate: $('#acstate').val(),
                    acpin: $('#acpin').val(),
                    isminor: $('#isminor').val(),
                    minordob: $('#minordob').val(),
                    minoradultdt: $('#minoradultdt').val(),
                };
                $.ajax({

                    type: "POST",
                    url: '@Url.Action("SaveDepositMast", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (err) {
                        alert("Error Occured");
                    }

                });
            }
        }

        function Reload() {
            window.location.href = "@Url.Action("AccountOpening", "Deposits")";
        }
        function Home() {
            window.location.href = "@Url.Action("Index", "Home")";
        }
        
    </script>
}

