@model SERCCS.Models.Views.AccountOpeningViewModel
@{
    Layout = "../Shared/_layout.cshtml";
    ViewBag.Title = "AccountOpening";
}

<style>
    .heading {
        /*  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        color: #083669;
        font-size: 30px;
        text-align: center;
    }

    body {
        font-family: "Roboto", sans-serif;
    }

    .size {
        height: 30px;
        width: 180px;
    }
    .sizeS {
        height: 30px;
        width: 80px;
    }
    .sizeXS {
        height: 30px;
        width: 50px;
    }

    .sizeM {
        height: 30px;
        width: 150px;
    }

    .sizebig {
        height: 30px;
        width: 300px;
    }

    .divbox {
        background-color: #eaeef3;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold;
        font-size: 13px
    }

    .rounded-corners1 {
        background-color: #e5e7ff;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold;
        font-size: 13px;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }

        .tab tbody {
            display: block;
            width: 550px;
            overflow: auto;
            height: 250px;
            text-align: center;
            color: #133E87;
        }

        .tab td, .tab th {
            border: 1px solid #004085;
            border-collapse: collapse;
            width: 550px;
        }

        .tab td {
            padding: 3px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:nth-child(odd) {
            background-color: white;
        }

        .tab tr:hover {
            background-color: #E1F7F5;
        }

        .tab th {
            padding: 5px;
            text-align: center;
            background-color: #0c2253;
            font-size: 13px;
            color: white;
            position: sticky;
            top: 0;
            border: 1px solid #ddd;
            /* border-radius: 5px*/
        }

    .rounded-corners1 td {
        padding: 3px
    }
    .tableT {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }
        .tableT tbody {
            display: block;
            width: 1200px;
            overflow: auto;
            text-align: center;
            color: #133E87;
        }

        .tableT td, .tableT th {
            border: 1px solid #004085;
            border-collapse: collapse;
            width: 1200px;
            padding: 1px;
        }
    .tableT1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }
        .tableT1 tbody {
            display: block;
            width: 800px;
            overflow: auto;
            text-align: center;
            color: #133E87;
        }

        .tableT1 td, .tableT1 th {
            border: 1px solid #004085;
            border-collapse: collapse;
            width: 800px;
            padding: 1px;
        }
    .divbox2 {
        background-color: #e5e7ff;
        color: #474E93;
        border: 2px solid #474E93;
      /*  border-radius: 20px;*/
        font-weight: bold;
        font-size: 13px;
    }
    .rounded-corners2 {
        background-color: #959ca35e;
        color: #2f0b0f;
        font-weight: bold;
        font-size: 14px;
        padding: :3px;
        border: 2px solid #797777;
        padding:3px
    }

</style>

<form asp-controller="Deposits" asp-action="AccountOpening" method="post">
    <div class="heading mt-2">
        Account Opening
    </div>
    <div class="container mt-3" style="font-weight:bold">
        <div class="row">
           
            <div class="col-lg-2 col-12">
                <button id="ButtonSAVE" type="button" name="ButtonSAVE" class="btn" onclick="SaveData()">
                    Save | <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="col-lg-2 col-12">
                <button id="ButtonAddNew" type="button"  name="ButtonAddNew" class="btn" onclick="Reload()">
                    ADD NEW | <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="col-lg-2 col-12">
                <button id="ButtonEXIT" type="button" name="ButtonEXIT" class="btn" onclick="Home()">
                    EXIT | <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-lg-12 col-12 pl-3 divbox">
                <div class="row mt-2">
                    <div class="col-lg-3 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.BranchId, new SelectList(new string[] { "MN" }), new { @class = "sizeS" })
                    </div>
                    <div class="col-lg-3 col-12">
                        Account Head<br />
                        @Html.DropDownListFor(p => p.AcHd, new SelectList(Model.Ac_Hd_DESC, "Value", "Text"), new { @class = "size" })
                    </div>
                    <div class="col-lg-3 col-12">
                        Control No<br />
                        @Html.TextBoxFor(p => p.ContNo, new { @class = "size", @type = "text", @onkeypress = "javascript: return EvtContNo(event); " })
                    </div>
                    <div class="col-lg-3 col-12">
                        Account No<br />
                        @Html.TextBoxFor(p => p.AcNo, new { @class = "size", @type = "text", @onkeypress = "javascript: return EvtAcNo(event); " })
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-lg-3 col-12">
                        Opening Date<br />
                        @Html.TextBoxFor(p => p.OpenDate, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-3 col-12">
                        Category of Account<br />
                        @Html.DropDownListFor(p => p.SplStatus, new SelectList(Model.Ac_Category_DESC, "Value", "Text"), new { @class = "size" })
                    </div>
                    <div class="col-lg-3 col-12">
                        Mode of Operation<br />
                        @Html.DropDownListFor(p => p.OprnMode, new SelectList(Model.Md_Of_Op_DESC, "Value", "Text"), new { @class = "size" })
                    </div>
                    <div class="col-lg-3 col-12" id="chqfacility">
                        Cheque Facility<br />
                        @Html.DropDownListFor(p => p.ChqFacility, new SelectList(new string[] { "NO", "YES" }), new { @class = "sizeS" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <table align="center">
                <tr>
                    <td>
                        <h6 class="text-center p-1 mt-2" style="background: #474e93; color: #fff;">MEMBER HOLDER'S PARTICULARS</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tableT" style="margin-top:-8px">
                            <tr style="background-color: #0c2253; font-size: 13px; color: white;">
                                <th>Srl</th>
                                <th>Member ID</th>
                                <th>Member Name</th>
                                <th>Guardian's Name'</th>
                                <th>Relation</th>
                                <th>Sex</th>
                                <th>Occupation</th>
                                <th>Sign</th>
                                <th>LTI</th>
                                <th>Pan No</th>

                            </tr>
                            <tr>

                                <td>@Html.TextBoxFor(p => p.Srl1, new { @class = "sizeXS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.MemberId1, new { @class = "sizeS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.MemberName1, new { @class = "size", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.GuardianName1, new { @class = "size", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.Relation1, new { @class = "sizeS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.Sex1, new { @class = "sizeS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.Occupation1, new { @class = "sizeS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.DropDownListFor(p => p.Sign1, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                                <td>@Html.DropDownListFor(p => p.Lti1, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                                <td>@Html.TextBoxFor(p => p.PanNo1, new { @class = "sizeM", @type = "text", @readonly = "true" })</td>
                                <td id="addbutton"><img src="~/Images/Plus.png" width="30" height="30" onclick="OpenNewRowForMember()" /></td>

                            </tr>
                            <tr id="NewMem">
                                <td>@Html.TextBoxFor(p => p.Srl2, new { @class = "sizeXS", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.MemberId2, new { @class = "sizeS", @type = "text" })</td>
                                <td>@Html.TextBoxFor(p => p.MemberName2, new { @class = "size", @type = "text" })</td>
                                <td>@Html.TextBoxFor(p => p.GuardianName2, new { @class = "size", @type = "text" })</td>
                                <td>@Html.TextBoxFor(p => p.Relation2, new { @class = "sizeS", @type = "text" })</td>
                                <td>@Html.TextBoxFor(p => p.Sex2, new { @class = "sizeS", @type = "text" })</td>
                                <td>@Html.TextBoxFor(p => p.Occupation2, new { @class = "sizeS", @type = "text" })</td>
                                <td>@Html.DropDownListFor(p => p.Sign2, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                                <td>@Html.DropDownListFor(p => p.Lti2, new SelectList(new string[] { "YES", "NO" }), new { @class = "sizeS" })</td>
                                <td>@Html.TextBoxFor(p => p.PanNo2, new { @class = "sizeM", @type = "text" })</td>
                                <th><img src="~/Images/Minus.png" width="30" height="30" onclick="CloseNewRowForMember()" /></th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
           
        </div>
        <div class="row mt-2">
            <table>
                <tr>
                    <td>
                        <table class="rounded-corners2" >
                            <tr>
                                <td>
                                    A/C Name
                                </td>
                                <td colspan="3">
                                    @Html.TextBoxFor(p => p.AcName, new { @class = " w-100", @type = "text", @readonly = "true", @style = "background-color: white" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address
                                </td>
                                <td colspan="3">
                                    @Html.TextBoxFor(p => p.AcAdd1, new { @class = " w-100", @type = "text", @readonly = "true", @style = "background-color: white" })<br />
                                    @Html.TextBoxFor(p => p.AcAdd2, new { @class = " w-100", @type = "text", @readonly = "true", @style = "background-color: white" })<br />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    State
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.AcState, new { @class = "sizeM", @type = "text", @readonly = "true", @style = "background-color: white" })
                                </td>
                                <td>
                                    District
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.AcDist, new { @class = "sizeM", @type = "text", @readonly = "true", @style = "background-color: white" })
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    City
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.AcCity, new { @class = "sizeM", @type = "text", @readonly = "true", @style = "background-color: white" })
                                </td>
                                <td>
                                    Pin
                                </td>
                                <td>
                                    @Html.TextBoxFor(p => p.AcPin, new { @class = "sizeM", @type = "text", @readonly = "true", @style = "background-color: white" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="divbox2">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>

                                                Minor Account:
                                                @Html.DropDownListFor(p => p.isminor, new SelectList(new string[] { "NO", "YES" }), new { @class = "sizeS", @onchange = "showhideminor()" })
                                            </td>
                                        <tr id="minor">

                                            <td>
                                                Date of Birth
                                                @Html.TextBoxFor(p => p.minordob, new { @class = "size", @type = "text" })
                                            </td>
                                            <td>
                                                Attain Majority On
                                                @Html.TextBoxFor(p => p.minoradultdt, new { @class = "size", @type = "text" })
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <h6 class="text-center p-1 mt-2" style="background: #474e93; color: #fff; padding: 5px ">N o m i n e e</h6>
                        <table class="tableT1">
                            <tr style="background-color: #0c2253; font-size: 13px; color: white;">
                                <th>Nominee Name</th>
                                <th>Relation</th>
                                <th>Pan No</th>
                                <th>Aadhar No</th>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(p => p.nomname, new { @class = " sizeL", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nomreln, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nompan, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                                <td>@Html.TextBoxFor(p => p.nomaadhar, new { @class = " sizeM", @type = "text", @readonly = "true" })</td>
                            </tr>
                        </table>

            
                        
                       </table>
        </div>

    </div>

</form>
@section scripts
{

    <script type="text/javascript">


        function OpenNewRowForMember() {
            $("#NewMem").show();
            $("#addbutton").hide();
            $("#srl2").val("2");
        }

        function CloseNewRowForMember() {
            $("#NewMem").hide();
            $("#addbutton").show();
            $("#Srl2").val("");
        }

        function EvtContNo(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetDetailByContNo();
            }
        }
        function EvtAcNo(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
              if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetDetailByAcNo();
            }
        }

        function GetDetailByContNo() {
            let ModelObject = {
                achd: $('#achd').val(), contno: $('#contno').val(), branchid: $('#branchid').val()};
            $.ajax({
                type: "POST",
                    url: '@Url.Action("GetDetailByContNo", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    $('#acno').val(data.ac_no);
                    $('#contno').val(data.contno);
                    $('#memberid1').val(data.member_id);
                    $('#membername1').val(data.ac_name);
                    $('#guardianname1').val(data.grdn_name);
                    $('#relation1').val(data.reln_id);
                    $('#sex1').val(data.sex);
                    $('#occupation1').val(data.occup_id);
                    $('#sign1').val(data.sign);
                    $('#lti1').val(data.lti);
                    $('#panno1').val(data.pan);
                    $('#acname').val(data.ac_name);
                    $('#acadd1').val(data.ac_add1);
                    $('#acadd2').val(data.ac_add2);
                    $('#accity').val(data.ac_city);
                    $('#acdist').val(data.ac_dist);
                    $('#acstate').val(data.ac_state);
                    $('#acpin').val(data.ac_pin);
                    $('#nomname').val(data.nom_name);
                    $('#nomreln').val(data.nom_reln);
                    $('#nompan').val(data.nom_pan);
                    $('#nomaadhar').val(data.nom_aadhar);
                    $('#minordob').val(data.str_minor_dob);
                    $('#minoradultdt').val(data.str_minor_adult_dt);
                    if (data.ac_no != null) {
                        $('#splstatus').val(data.spl_status);
                        $('#oprnmode').val(data.oprn_mode);
                        $('#chqfacility').val(data.chq_facility);
                    }
                    if (data.is_minor != "" && data.is_minor != null) {
                        $("#isminor").val("YES")
                        $("#minor").show();
                    }
                    $('#acno').focus();
                    if (data.ac_no != "" && data.ac_no != null) {
                        $('#opendate').val(data.str_open_date);
                        $("#buttonsave").hide();
                        $('#contno').focus();
                        document.getElementById('acno').readOnly = true;
                        document.getElementById('opendate').readOnly = true;
                    }
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }

        function GetDetailByAcNo() {
            let ModelObject = {
                achd: $('#achd').val(), acno: $('#acno').val(), branchid: $('#branchid').val()};
            $.ajax({
                type: "POST",
                    url: '@Url.Action("GetDetailByAcNo", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {

                    $('#acno').val(data.ac_no);
                    $('#contno').val(data.contno);
                    $('#memberid1').val(data.member_id);
                    $('#membername1').val(data.ac_name);
                    $('#guardianname1').val(data.grdn_name);
                    $('#relation1').val(data.reln_id);
                    $('#sex1').val(data.sex);
                    $('#occupation1').val(data.occup_id);
                    $('#sign1').val(data.sign);
                    $('#lti1').val(data.lti);
                    $('#panno1').val(data.pan);
                    $('#acname').val(data.ac_name);
                    $('#acadd1').val(data.ac_add1);
                    $('#acadd2').val(data.ac_add2);
                    $('#accity').val(data.ac_city);
                    $('#acdist').val(data.ac_dist);
                    $('#acstate').val(data.ac_state);
                    $('#acpin').val(data.ac_pin);
                    $('#nomname').val(data.nom_name);
                    $('#nomreln').val(data.nom_reln);
                    $('#nompan').val(data.nom_pan);
                    $('#nomaadhar').val(data.nom_aadhar);
                    $('#minordob').val(data.str_minor_dob);
                    $('#minoradultdt').val(data.str_minor_adult_dt);
                    $('#splstatus').val(data.spl_status);
                    $('#oprnmode').val(data.oprn_mode);
                    $('#chqfacility').val(data.chq_facility);
                    if (data.is_minor != "" && data.is_minor != null) {
                        $("#isminor").val("YES")
                        $("#minor").show();
                    }
                    if (data.ac_no != "" && data.ac_no != null) {
                        document.getElementById('acno').readOnly = true;
                        $('#opendate').val(data.str_open_date);
                        document.getElementById('opendate').readOnly = true;
                        $("#buttonsave").hide();
                    }
                },
                error: function (err) {
                alert("Error Occured");
                }

            });
        }


        $(document).ready(function () {
            $("#minor").hide();
            $("#NewMem").hide();
            $("#srl1").val("1");

        });


        function showhideminor() {

            if ($("#isminor option:Selected").text() == "YES") {
                $("#minor").show();
            }
            else {
                $("#minor").hide();
            }
        }
        function SaveData() {
            if ($('#acno').val() == "" || $('#acno').val() == null) {
                alert("Account No Can't Blank !!");
            } else {
                let ModelObject = {
                    branchid: $('#branchid').val(),
                    achd: $('#achd').val(),
                    acno: $('#acno').val(),
                    contno: $('#contno').val(),
                    opendate: $('#opendate').val(),
                    splstatus: $('#splstatus').val(),
                    oprnmode: $('#oprnmode').val(),
                    chqfacility: $('#chqfacility').val(),
                    srl1: $('#srl1').val(),
                    srl2: $('#srl2').val(),
                    memberid1: $('#memberid1').val(),
                    memberid2: $('#memberid2').val(),
                    membername1: $('#membername1').val(),
                    membername2: $('#membername2').val(),
                    guardianname1: $('#guardianname1').val(),
                    guardianname2: $('#guardianname2').val(),
                    relation1: $('#relation1').val(),
                    relation2: $('#relation2').val(),
                    sex1: $('#sex1').val(),
                    sex1: $('#sex1').val(),
                    occupation1: $('#occupation1').val(),
                    occupation2: $('#occupation2').val(),
                    sign1: $('#sign1').val(),
                    sign2: $('#sign2').val(),
                    lti1: $('#lti1').val(),
                    lti1: $('#lti1').val(),
                    panno1: $('#panno1').val(),
                    panno2: $('#panno2').val(),
                    acname: $('#acname').val(),
                    acadd1: $('#acadd1').val(),
                    acadd2: $('#acadd2').val(),
                    accity: $('#accity').val(),
                    acdist: $('#acdist').val(),
                    acstate: $('#acstate').val(),
                    acpin: $('#acpin').val(),
                    isminor: $('#isminor').val(),
                    minordob: $('#minordob').val(),
                    minoradultdt: $('#minoradultdt').val(),
                };
                $.ajax({

                    type: "POST",
                    url: '@Url.Action("SaveDepositMast", "Deposits")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (err) {
                        alert("Error Occured");
                    }

                });
            }
        }

        function Reload() {
            window.location.href = "@Url.Action("AccountOpening", "Deposits")";
        }
        function Home() {
            window.location.href = "@Url.Action("Index", "Home")";
        }
        
    </script>
}

