@model SERCCS.Models.Views.UsersViewModel
@{
    ViewData["Title"] = "UsersMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 180px;
        height: 25px;
        text-transform: uppercase;
    }

    .sizeS {
        width: 60px;
        height: 25px;
        text-transform: uppercase;
    }

    .sizebig {
        width: 400px;
        height: 25px;
        text-transform: uppercase;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #4335A7;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 280px;
            text-align: center;
            color: #133E87;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 5px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.4);
        }

        .tab th {
            padding: 7px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: #BC7C7C;
            font-size: 14px;
            color: #492929;
            position: sticky;
            top: 0;
            border: 1px solid #ddd;
        }

    input:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }

    input {
        background-color: rgba( 255, 182, 193, 0.4);
        color: #4335A7;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px
    }

    select {
        background-color: rgba( 255, 182, 193, 0.4);
        color: crimson;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px
    }

        select:focus {
            background-color: rgba( 255, 182, 193, 0.3);
        }

    input[readonly] {
        background-color: whitesmoke;
        color: gray;
    }

    .divbox {
        background-color: #eaeef3;
        color: #474E93;
        border: 2px solid #474E93;
        border-radius: 20px;
        font-weight: bold
    }
</style>

<form asp-controller="Users" asp-action="UsersMaster" method="post">
    <div class="heading mt-4">
       User Master
    </div>
    <div class="container mt-1" cellpadding="0" cellspacing="0" border="1">
        <div class="row mt-3 justify-content-md-center">
            <div class="col-md-12 col-lg-12 col-12 pl-5 divbox">
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 col-12">
                        Allocated Branch:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        @Html.DropDownListFor(p => p.allocated_branch_id, new SelectList(Model.brmst, "Value", "Text"), "Select Branch", new { @class = "size" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        UserId:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        @Html.TextBoxFor(p => p.user_id, new { @class = "size", @maxlength = "50" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        UserName:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        @Html.TextBoxFor(p => p.user_name, new { @class = "size", @maxlength = "60" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        Password:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        @Html.TextBoxFor(p => p.user_password, new { @class = "size", @maxlength = "30" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 col-12">
                        Emailid:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        @Html.TextBoxFor(p => p.email_id, new { @class = "size", @maxlength = "100" })
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        Role:
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 mt-2">
                        @Html.DropDownListFor(p => p.user_role, new SelectList(new string[] { "SUPER-ADMIN", "BANK-ADMIN", "ADMIN", "CASHIER", "LOAN-DEPT", "ACCOUNTANT" }), new { @class = "size" })
                    </div>                    
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <input id="btnadd" type="button" name="btnadd" Height="40" Width="100" class="btn btn-primary btn-sm pull-right" value="ADD" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <input id="btnedit" type="button" name="btnedit" Height="40" Width="100" class="btn btn-primary btn-sm pull-right" value="EDIT" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-1 mt-1" align="center">
        <div class="table-responsive mt-1">
            <table id="UsersList" class="tab">
            </table>
        </div>
    </div>
</form>